In [1]:
%matplotlib inline

import pandas as pd

import numpy  as np
from matplotlib import pyplot as plt

In [2]:
LGAs = pd.read_csv("LGA_Disadvantage_index_2011.csv", index_col = "LGA", usecols = ["LGA", "Population_2011", "Overall_quintile"])

In [3]:
LGAs.head(5)

           Population_2011  Overall_quintile
LGA
Aurukun              1,289               1.0
Balonne              4,719               1.0
Banana              14,440               2.0
Barcaldine           3,217               2.0
Barcoo                 352               1.0

In [4]:
Tenancies = pd.read_csv("Socialhousingtenancies_2016.csv", usecols = ["LGA", "NumberBedrooms", "MarketRent", "Occupancy"])
Tenancies["MarketRent"] = Tenancies["MarketRent"].replace("\$","",regex = True).astype(float)

In [5]:
Tenancies.head()

   NumberBedrooms  MarketRent                          Occupancy       LGA
0               3       255.0                     Under-occupied   Ipswich
1               3       375.0                     Under-occupied  Brisbane
2               3       370.0  Not overcrowded or under-occupied  Brisbane
3               3       375.0                     Under-occupied  Brisbane
4               4       420.0                     Under-occupied  Brisbane

In [6]:
Properties = Tenancies[["LGA", "NumberBedrooms"]].groupby("LGA").count()
Properties.rename(columns = {"NumberBedrooms" : "# of properties"}, inplace = True)

In [7]:
Properties.head(10)

                # of properties
LGA
Balonne                      91
Banana                      227
Barcaldine                   19
Barcoo                        5
Blackall Tambo               11
Boulia                       22
Brisbane                  15531
Bundaberg                   995
Burdekin                    154
Burke                        12

In [8]:
test = LGAs.join(Properties, how = "inner")
test.head()

               Population_2011  Overall_quintile  # of properties
LGA
Balonne                  4,719               1.0               91
Banana                  14,440               2.0              227
Barcaldine               3,217               2.0               19
Barcoo                     352               1.0                5
Blackall Tambo           2,209               1.0               11

In [9]:
onebdr = Tenancies[Tenancies["NumberBedrooms"]==1][["LGA", "NumberBedrooms"]].groupby("LGA").count()
onebdr.rename(columns = {"NumberBedrooms" : "# of 1bdrs"}, inplace = True)
onebdr.head()

            # of 1bdrs
LGA
Balonne              3
Banana               9
Barcaldine           4
Brisbane          5475
Bundaberg          234

In [10]:
twobdr = Tenancies[Tenancies["NumberBedrooms"]==2][["LGA", "NumberBedrooms"]].groupby("LGA").count()
twobdr.rename(columns = {"NumberBedrooms" : "# of 2bdrs"}, inplace = True)
twobdr.head()

                # of 2bdrs
LGA
Balonne                 27
Banana                  30
Barcaldine               3
Barcoo                   3
Blackall Tambo           5

In [11]:
Threebdr = Tenancies[Tenancies["NumberBedrooms"]>2][["LGA", "NumberBedrooms"]].groupby("LGA").count()
Threebdr.rename(columns = {"NumberBedrooms" : "# of 3+bdrs"}, inplace = True)
Threebdr.head()

                # of 3+bdrs
LGA
Balonne                  61
Banana                  188
Barcaldine               12
Barcoo                    2
Blackall Tambo            6

In [12]:
bdtypes = pd.concat([onebdr, twobdr, Threebdr], axis = 1)
bdtypes = bdtypes.fillna(0)
bdtypes.head()

                # of 1bdrs  # of 2bdrs  # of 3+bdrs
Balonne                3.0          27           61
Banana                 9.0          30          188
Barcaldine             4.0           3           12
Barcoo                 0.0           3            2
Blackall Tambo         0.0           5            6

In [13]:
prbdrs = bdtypes.divide(bdtypes.sum(axis=1), axis=0)
prbdrs.rename(columns = {"# of 3+bdrs" : "% of 3+bdrs", "# of 2bdrs" : "% of 2bdrs", "# of 1bdrs" : "% of 1bdrs"}, inplace = True)
prbdrs["% of 1bdrs"] = pd.Series(["{0:.1f}%".format(val * 100) for val in prbdrs["% of 1bdrs"]], index = prbdrs.index)
prbdrs["% of 2bdrs"] = pd.Series(["{0:.1f}%".format(val * 100) for val in prbdrs["% of 2bdrs"]], index = prbdrs.index)
prbdrs["% of 3+bdrs"] = pd.Series(["{0:.1f}%".format(val * 100) for val in prbdrs["% of 3+bdrs"]], index = prbdrs.index)
prbdrs.head()

               % of 1bdrs % of 2bdrs % of 3+bdrs
Balonne              3.3%      29.7%       67.0%
Banana               4.0%      13.2%       82.8%
Barcaldine          21.1%      15.8%       63.2%
Barcoo               0.0%      60.0%       40.0%
Blackall Tambo       0.0%      45.5%       54.5%

In [14]:
Occupancy = Tenancies[["LGA", "Occupancy"]].replace("Not overcrowded or under-occupied",0, regex = True).replace("Under-occupied",1, regex = True).replace("Overcrowded",2, regex = True)
Occupancy.head()

        LGA  Occupancy
0   Ipswich          1
1  Brisbane          1
2  Brisbane          0
3  Brisbane          1
4  Brisbane          1

In [15]:
underocc = Occupancy[Occupancy["Occupancy"]==1].groupby("LGA").count()
underocc.rename(columns = {"Occupancy" : "# underocc"}, inplace = True)
underocc.head()

                # underocc
LGA
Balonne                 14
Banana                  75
Barcaldine               5
Barcoo                   2
Blackall Tambo           3

In [16]:
overocc = Occupancy[Occupancy["Occupancy"]==2].groupby("LGA").count()
overocc.rename(columns = {"Occupancy" : "# overocc"}, inplace = True)
overocc.head()

           # overocc
LGA
Balonne            6
Banana             7
Boulia             1
Brisbane         658
Bundaberg         40

In [17]:
normocc = Occupancy[Occupancy["Occupancy"]==0].groupby("LGA").count()
normocc.rename(columns = {"Occupancy" : "# normalocc"}, inplace = True)
normocc.head()

                # normalocc
LGA
Balonne                  71
Banana                  145
Barcaldine               14
Barcoo                    3
Blackall Tambo            8

In [18]:
occtype = pd.concat([underocc, overocc, normocc], axis = 1)
occtype = occtype.fillna(0)
occtype.head()

                # underocc  # overocc  # normalocc
Balonne               14.0        6.0           71
Banana                75.0        7.0          145
Barcaldine             5.0        0.0           14
Barcoo                 2.0        0.0            3
Blackall Tambo         3.0        0.0            8

In [19]:
procc = occtype.divide(occtype.sum(axis=1), axis=0)
procc.rename(columns = {"# underocc" : "% underocc", "# overocc" : "% overocc", "# normalocc" : "# normalocc"}, inplace = True)
procc = procc[["% underocc", "% overocc"]]
procc["% underocc"] = pd.Series(["{0:.1f}%".format(val * 100) for val in procc["% underocc"]], index = procc.index)
procc["% overocc"] = pd.Series(["{0:.1f}%".format(val * 100) for val in procc["% overocc"]], index = procc.index)
procc.head()

               % underocc % overocc
Balonne             15.4%      6.6%
Banana              33.0%      3.1%
Barcaldine          26.3%      0.0%
Barcoo              40.0%      0.0%
Blackall Tambo      27.3%      0.0%

In [20]:
avgrent = Tenancies.groupby("LGA")[["MarketRent"]].mean()
avgrent = avgrent.round(0)
avgrent.head(10)

                MarketRent
LGA
Balonne              172.0
Banana               235.0
Barcaldine           138.0
Barcoo                81.0
Blackall Tambo       110.0
Boulia               144.0
Brisbane             306.0
Bundaberg            233.0
Burdekin             229.0
Burke                142.0

In [21]:
Maintenance = pd.read_csv("Socialhousingmaintenance_2016.csv", usecols = ["LGA_Name", "Cost"])
Maintenance["Cost"] = Maintenance["Cost"].replace("\$","",regex = True).replace("\,","",regex = True).astype(float)
Maintenance.rename(columns = {"LGA_Name" : "LGA"}, inplace = True)
Maintenance.rename(columns = {"Cost" : "Average Maintenance $"}, inplace = True)
Maintenance.head()

   Average Maintenance $       LGA
0                 243.14  Brisbane
1                 344.25  Brisbane
2                 838.58  Brisbane
3                2706.03  Brisbane
4                 441.46  Brisbane

In [22]:
avgmain = Maintenance[["LGA", "Average Maintenance $"]].groupby(Maintenance["LGA"].str.title()).mean()
avgmain.head(10)

                Average Maintenance $
LGA
Aurukun                  21896.340854
Balonne                   2640.401709
Banana                    3991.989788
Barcaldine                2925.275923
Barcoo                     854.387727
Blackall Tambo            1320.567377
Boulia                    2949.720407
Brisbane                  2415.287109
Bundaberg                 2567.863069
Burdekin                  2591.771029

In [23]:
housing = LGAs.join(Properties, how = "inner")
housing = pd.concat([housing, prbdrs, avgrent, procc], axis = 1)
housing = housing.join(avgmain, how = "inner")
housing = housing.round(1)
housing

,Population_2011,Overall_quintile,# of properties,% of 1bdrs,% of 2bdrs,% of 3+bdrs,MarketRent,% underocc,% overocc,Average Maintenance $
Balonne,"4,719",1.0,91.0,3.3%,29.7%,67.0%,172.0,15.4%,6.6%,2640.4
Banana,"14,440",2.0,227.0,4.0%,13.2%,82.8%,235.0,33.0%,3.1%,3992.0
Barcaldine,"3,217",2.0,19.0,21.1%,15.8%,63.2%,138.0,26.3%,0.0%,2925.3
Barcoo,352,1.0,5.0,0.0%,60.0%,40.0%,81.0,40.0%,0.0%,854.4
Blackall Tambo,"2,209",1.0,11.0,0.0%,45.5%,54.5%,110.0,27.3%,0.0%,1320.6
Boulia,478,1.0,22.0,0.0%,36.4%,63.6%,144.0,9.1%,4.5%,2949.7
Brisbane,"1,033,614",5.0,15531.0,35.3%,28.8%,36.0%,306.0,12.1%,4.2%,2415.3
Bundaberg,"89,762",1.0,995.0,23.5%,29.0%,47.4%,233.0,14.4%,4.0%,2567.9
Burdekin,"17,373",1.0,154.0,12.3%,21.4%,66.2%,229.0,20.1%,7.1%,2591.8
Burke,521,1.0,12.0,0.0%,25.0%,75.0%,142.0,25.0%,33.3%,8721.0
Cairns,"145,285",2.0,2609.0,26.7%,25.3%,48.0%,276.0,11.6%,7.4%,1798.1
Carpentaria,"2,052",1.0,111.0,4.5%,24.3%,71.2%,188.0,19.8%,20.7%,4857.8
Cassowary Coast,"27,632",1.0,241.0,12.4%,21.2%,66.4%,216.0,12.9%,7.9%,1528.8
Central Highlands,"28,729",4.0,245.0,3.3%,13.5%,83.3%,210.0,39.6%,4.1%,3640.1
Charters Towers,"12,157",1.0,116.0,13.8%,23.3%,62.9%,219.0,17.2%,3.4%,2015.0
Cloncurry,"3,231",1.0,73.0,8.2%,28.8%,63.0%,196.0,15.1%,2.7%,3405.6
Cook,"3,670",1.0,107.0,2.8%,22.4%,74.8%,161.0,15.9%,12.1%,3231.9
Croydon,314,1.0,10.0,0.0%,20.0%,80.0%,174.0,20.0%,20.0%,1485.4
Diamantina,283,1.0,9.0,11.1%,33.3%,55.6%,113.0,22.2%,0.0%,1901.0
Douglas,"10,814",2.0,114.0,17.5%,32.5%,50.0%,265.0,14.9%,4.4%,6483.5
Etheridge,894,1.0,5.0,0.0%,60.0%,40.0%,129.0,0.0%,0.0%,510.8
Flinders,"1,791",1.0,17.0,0.0%,29.4%,70.6%,151.0,29.4%,5.9%,1605.1
Fraser Coast,"94,495",1.0,1002.0,33.1%,23.7%,43.2%,218.0,14.0%,3.1%,2446.8
Gladstone,"57,834",4.0,749.0,14.7%,19.4%,66.0%,242.0,21.6%,2.4%,2630.3
Gold Coast,"493,584",4.0,3909.0,36.8%,25.1%,38.0%,325.0,14.8%,3.0%,1784.5
Goondiwindi,"10,627",2.0,111.0,16.2%,30.6%,53.2%,183.0,16.2%,4.5%,1875.5
Gympie,"45,746",1.0,290.0,21.7%,30.0%,48.3%,211.0,17.9%,2.1%,1868.0
Hinchinbrook,"11,510",1.0,79.0,1.3%,30.4%,68.4%,231.0,25.3%,6.3%,2445.3
Ipswich,"166,312",1.0,2419.0,16.4%,15.5%,68.1%,256.0,21.2%,6.4%,2778.0
Isaac,"22,528",4.0,86.0,10.5%,29.1%,60.5%,181.0,12.8%,1.2%,3170.6
Livingstone,"31,800",3.0,194.0,42.3%,23.2%,34.5%,254.0,16.0%,3.1%,6703.3
Lockyer Valley,"34,644",1.0,150.0,20.7%,33.3%,46.0%,215.0,12.0%,3.3%,1879.2
Logan,"277,950",2.0,4659.0,9.0%,17.4%,73.7%,281.0,23.4%,6.8%,2832.8
Longreach,"4,196",2.0,51.0,0.0%,41.2%,58.8%,215.0,11.8%,2.0%,2213.0
Mackay,"112,621",4.0,1432.0,21.6%,28.1%,50.3%,277.0,18.2%,3.2%,2182.4
Mareeba,"19,339",1.0,275.0,13.8%,20.7%,65.5%,242.0,15.6%,12.4%,11031.6
Mckinlay,NaN,NaN,NaN,30.0%,10.0%,60.0%,130.0,10.0%,0.0%,3681.6
Moreton Bay,"376,874",3.0,4454.0,26.5%,20.2%,53.3%,268.0,18.4%,3.4%,2499.7
Mount Isa,"21,237",2.0,691.0,13.6%,21.0%,65.4%,322.0,10.6%,7.7%,3401.4
Murweh,"4,613",1.0,55.0,12.7%,20.0%,67.3%,160.0,14.5%,7.3%,2530.0
Noosa,"48,795",3.0,382.0,34.0%,18.6%,47.4%,307.0,19.9%,2.4%,8724.5
North Burnett,"10,128",1.0,60.0,23.3%,21.7%,55.0%,159.0,23.3%,8.3%,2294.6
Paroo,"1,865",1.0,78.0,6.4%,26.9%,66.7%,99.0,20.5%,6.4%,2550.4
Quilpie,969,1.0,8.0,0.0%,25.0%,75.0%,123.0,12.5%,0.0%,1176.3
Redland,"138,373",4.0,1533.0,39.2%,22.0%,38.8%,289.0,13.6%,2.3%,2220.6
Richmond,821,2.0,8.0,0.0%,12.5%,87.5%,152.0,37.5%,0.0%,3491.1
Rockhampton,"76,749",1.0,1318.0,22.1%,22.6%,55.3%,246.0,17.5%,3.5%,1996.2
Scenic Rim,"36,427",2.0,151.0,21.9%,17.9%,60.3%,233.0,24.5%,3.3%,3027.3
Somerset,"21,654",1.0,18.0,22.2%,33.3%,44.4%,215.0,22.2%,0.0%,1325.0
South Burnett,"31,006",1.0,219.0,20.1%,24.7%,55.3%,183.0,16.0%,6.4%,2737.8
Southern Downs,"33,839",1.0,176.0,21.0%,28.4%,50.6%,185.0,18.2%,4.5%,1773.6
Sunshine Coast,"256,232",3.0,2450.0,39.3%,28.7%,32.0%,280.0,10.1%,2.1%,1976.2
Tablelands,"23,712",1.0,202.0,18.8%,30.7%,50.5%,228.0,14.9%,6.9%,1588.1
Toowoomba,"150,377",2.0,1492.0,27.1%,27.6%,45.3%,230.0,13.7%,3.8%,1985.1
Torres,"3,217",1.0,304.0,0.0%,28.0%,72.0%,305.0,15.1%,22.4%,3555.5
Townsville,"171,925",3.0,3117.0,24.1%,20.2%,55.6%,263.0,16.0%,4.8%,2724.3
Western Downs,"31,610",2.0,150.0,13.3%,34.7%,52.0%,214.0,15.3%,5.3%,2070.8
Whitsunday,"31,087",2.0,297.0,14.5%,32.7%,52.9%,235.0,17.2%,3.0%,1976.5
Winton,"1,338",1.0,23.0,26.1%,39.1%,34.8%,119.0,13.0%,0.0%,1702.9

In [24]:
housing.to_csv('housing.csv')

In [43]:
lga = 'Banana'
housing.loc[lga].to_frame().to_html()
#housing.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Banana</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Population_2011</th>\n      <td>14,440</td>\n    </tr>\n    <tr>\n      <th>Overall_quintile</th>\n      <td>2</td>\n    </tr>\n    <tr>\n      <th># of properties</th>\n      <td>227</td>\n    </tr>\n    <tr>\n      <th>% of 1bdrs</th>\n      <td>4.0%</td>\n    </tr>\n    <tr>\n      <th>% of 2bdrs</th>\n      <td>13.2%</td>\n    </tr>\n    <tr>\n      <th>% of 3+bdrs</th>\n      <td>82.8%</td>\n    </tr>\n    <tr>\n      <th>MarketRent</th>\n      <td>235</td>\n    </tr>\n    <tr>\n      <th>% underocc</th>\n      <td>33.0%</td>\n    </tr>\n    <tr>\n      <th>% overocc</th>\n      <td>3.1%</td>\n    </tr>\n    <tr>\n      <th>Average Maintenance $</th>\n      <td>3992</td>\n    </tr>\n  </tbody>\n</table>'